p {
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    color: red; 
    font-size: 25px;  
    font-weight: bold;
    padding: 0px;
    margin: 10px;
}

section {
   background-color: lightyellow;
   border: 1px dotted gray;
}